

#planet__wrapper{
  width: 100%;
  height: 100%;
  z-index: -1;
}

#planet__content__toolbar__wrapper {
  border-bottom: 1px solid grey;
  height: 50px;
}

#planet__content__toolbar{
  display: flex;
  justify-content: space-evenly;
  align-items:stretch;
  list-style: none;
  height: 100%;
  padding-top: 1rem;
}

#planet__content__toolbar li {
  border-bottom: 2px solid transparent;
  height:100%;

}

/* Planet images */
#planet__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 306px;
}

#planet__img img{
  width: 173px;
  height: 173px;
  text-align: center;
}

#summary__surface__container {
  position: relative;
}
#surface__img {
  position: absolute;
  max-width: 125px;
  max-height: 125px;
  left: 15%;
  top:55%;
}


#planet__content {
  width:327px;
  height: 235px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#planet__content h1 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}

#facts {
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 216px;
  margin: 2rem auto;
}
.planet__facts {
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 48px;
  border: 1px solid var(--color-4)
}

#radio__toolbar {
  border-bottom: 1px solid var(--color-4);
  justify-content: space-between;
  
}
/* Remove the radio button */
#radio__toolbar input[type="radio"] { 
  opacity: 0;
  position:fixed;
  width:0;
  display: inline-block;
}
/* Style radio button label */
#radio__toolbar label{
  display: inline-block;
  padding: 10px;
  border-bottom: 5px solid transparent;
  cursor: pointer;
}
/* Add blue border to label on focus */
#radio__toolbar input[type="radio"]:focus + label {
border-bottom: 5px solid var(--color-12);
}
/* Add hover effect for radio label */
#radio__toolbar label:hover {
border-bottom: 2px solid var(--color-12);
}

#radio__toolbar input[type="radio"]:checked + label {
  border-bottom: 2px solid var(--color-12);
}



/* SHARED CLASSES */
.flex {
  display: flex;
}